.corretor {
    padding-top: 2rem;

    .form-register {

        div {
            margin-bottom: 1rem;
        }
    }

    .user-list {
        margin: 2rem 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 1rem 0;

            li {
                display: block;
                margin-bottom: .5rem;
            }
        }
    }
}