.count {

    .status-payment{
        display: block;
        background-color: orangered;
        border-radius: 5px;
        padding: .25rem;
        text-align: center;
        width: 100%;
        color: #FFF;
        font-weight: bold;
    }
}