.home {
    color: #555;
    padding: 1rem;

    .home-register {

        background-color: #ededed;
        border-radius: 10px;
        padding: 1rem;

        input {
            width: 100%;
        }
    }
}