.home {
    color: #555;
    padding: 1rem;
    background: url(/images/bg_home.jpg) center top no-repeat;

    .call {

        h1 {
            font-size: 2rem;
            font-weight: bold;
            margin: 1rem 0 2rem;
            text-align: center;
            color: orangered;
        }

        button {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    h2 {
        color: orangered;
        font-size: 1.5rem;
    }

    .feature-list {
        counter-reset: section;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 1rem;

        li {
            background-color: #ededed;
            margin-bottom: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 10px;

            span {
                font-weight: bold;
            }

            &::before {
                counter-increment: section 1;
                content: counter(section);
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 30px;
                background-color: #FFF;
                margin-right: 1rem;
            }
        }
    }
}