$green: #366f4e;
$orange: #EB710E;

.home {

    .row {
        margin-bottom: 2rem;
    }

    .call {
        font-size: 1.75rem;
        text-align: center;
        color: #EB710E;
        padding: 0 3rem;
        line-height: 3rem;
        font-weight: normal;

        .says {
            font-weight: bolder;
        }
    }

    @media screen and (max-width: 900px) {

            .call {
                font-size: 1.5rem;
                line-height: 1.5rem;
                padding: 0 1.5rem 1.5rem;
            }
    }

    .laser {
        margin-top: 0rem;
    }

    .head-laser {
        height: 300px;
        background: no-repeat center center;
        background-size: cover;
    }

    .laser-list {
        margin-bottom: 2rem;

        ul {
            list-style: none;
            margin: 2rem 0 0;
            display: flex;
            width: 100%;
            justify-content: space-between;

            li {
                display: block;
                font-size: 1.25rem;
                color: #999;

                svg {
                    color: $orange;
                    font-size: 2rem;
                    margin-right: .5rem;
                }
            }

        }

        .torre-data {
            align-content: center;
            padding-left: 2rem;
        }

        @media screen and (max-width: 900px) {
            
            .torre-data {
                padding-left: 1rem;
                padding-top: 1rem !important;
            }

            ul {
                justify-content: center;
                flex-wrap: wrap;
                padding: 0;

                li {
                    width: 45%; 
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    margin: 1rem 0;
                    
                    svg {
                        display: block;
                        text-align: center;
                        width: 100%;
                    }

                    span {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }

    .head-local {
        height: 200px;
        background: no-repeat center top;
        background-size: cover;
    }

    .units {
        margin-bottom: 2rem;

        .torre {

            .planta-torre {
                margin: 1rem 0;

                img {
                    cursor: pointer;
                }
            }
        }


        .unit-image {
            align-content: center;
            padding: 0 2rem;

            img {
                width: 100%;
                cursor: pointer;
            }
        }

        .unit-detail {
            border-left: solid 1px $orange;
            align-content: end;
            padding-left: 1rem;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    font-size: 1.5rem;
                    color: #999;
                    font-weight: lighter;
                }
            }
        }

        @media screen and (max-width: 900px) {

            .unit-image {
                padding: 0 1rem;
            }

            .unit-detail {
                border: none;
                margin-top: 1rem;

                ul {
                    border-left: solid 1px $orange;
                    padding-left: 2rem;

                    li {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    .location {

        font-size: 2rem;

        iframe { 
            border: none;
            border-top: solid 3px $orange;
        }
    }

    @media screen and (max-width: 900px) {
        .units {
            margin-bottom: 0;
        }

        .location {
            font-size: 1rem;
        }
    }

    .contact {

        label {
            margin-top: 1rem;
            font-weight: normal;
        }

        button {
            margin-top: 1rem;
        }

        .whatsapp {
            text-align: center;
            padding: 6rem 6rem 4rem;
            background-color: #efefef;
            border-radius: 10px;
            margin-top: 2rem;

            svg {
                font-size: 8rem;
                margin-bottom: 2rem;
                color: #366f4e;
            }

            p {
                font-size: 1.5rem;
                font-weight: normal;
            }

            span {
                font-size: 2rem;
                font-weight: normal;
            }
        }
    }
}