.plain {

    h1 {
        font-size: 3rem;
        color: orangered;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    }

    .status-payment{
        display: block;
        background-color: orangered;
        border-radius: 5px;
        padding: .25rem;
        text-align: center;
        width: 100%;
        color: #FFF;
        font-weight: bold;
    }
}