.produtos {
    color: #555;
    background-color: #333;

    .row {

        .form-title {
            margin: .5rem 0;
            font-weight: bold;
        }
    }

    .produto {
        padding: 20px 10px 10px;
        border: solid 1px #ccc;
        border-radius: 5px;
        margin: 1rem 0;
        background-color: #FFF;

        .titulo {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: left;
            color: #000;
            border-radius: 5px;
            display: flex;
            align-items: start;
        }

        .midias {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            justify-content:space-between;
            align-items: start;
            margin-bottom: 1.5rem;

            .video {
                width: 100%;
                position: relative;
                border: none;
                padding: 0;
                margin: 0;
                text-align: center;
            }
    
            .capa {
                width: 50%;
                position: relative;
                border: none;
                padding: 0;
                margin: 0;
            }

            .capa, .video {
                > svg {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    color: orangered;    
                }

                a {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    padding: .5rem 0;
                }
            }
        }

        .downloads {
            margin: 0 0 1rem;

            a {
                display: block;
                width: 100%;
                background-color: orangered;
                color: #FFF;
                border-radius: 5px;
                padding: .25rem .5rem;
                text-decoration: none;
                text-align: center;
            }
        }


        .link {
            margin: .5rem 0;
            position: relative;
            padding: 10px;
            background-color: #FFF;
            border-radius: 5px;
            cursor: pointer;

            p {
                margin: 0 0 .25rem;
                font-weight: bold;
            }

            span {
                color: #999;
                display: block;
                font-size: .75rem;
                overflow-wrap: break-word;
            }

            svg {
                position: absolute;
                right: 7px;
                top: 7px;
            }
        }

        .texto {
            position: relative;
            padding: 10px;
            background-color: #ededed;
            border-radius: 5px;
            cursor: pointer;

            p {
                margin: 0 0 .25rem;
                font-weight: bold;
            }

            span {
                display: block;
                padding: .25rem;
                border: solid 1px #ccc;
                background-color: #000;
                color: #fff;
                font-size: .75rem;
            }

            svg {
                position: absolute;
                right: 7px;
                top: 7px;
            }
        }

        &.posted {
            background-color: #777;
            cursor: none;
            border: none;
            opacity: .5;

            .video {

                svg {
                    color: #555;
                }
            }

            .downloads a {
                background-color: #555;
                border-color: #555;
                color: #000;
            }

            .titulo {
                color: #555;
            }

            .texto, .link {
                background-color: #666;

                span {
                    color: #999;
                    background-color: #555;
                    border: none;
                }
            }
        }
    }

    .register-product {
        background-color: #ededed;
        margin: 1rem 0;

        .form-produto {
            padding: 1rem 0;
    
            input, textarea, button, select {
                width: 100%;
                padding: 1rem;
                border: solid 1px #CCC;
                border-radius: 5px;
            }
        }
    }


    .category {
        padding: 1rem 0;
        background: linear-gradient(to right, #ea580c, #db2777);
        background: -webkit-linear-gradient(to right, #ea580c, #db2777);
        background-color: #ededed;

        select {
            padding: .5rem;
        }
    }

    .filters {
        margin: 0;
        border-bottom: solid 1px #ccc;
        padding: 1rem 0;
        background-color: #ededed;

        .filter-title {
            margin-bottom: .5rem;
            display: block;
        }

        .row {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.pagination {
    justify-content: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;

        li {
            margin: 0 5px;
            margin-bottom: 10px;

            a {
                display: block;
                width: 42px;
                height: 42px;
                text-align: center;
                line-height: 42px;
                border-radius: 5px;
                background-color: orangered;
                color: #FFF;
                font-weight: bold;
                cursor: pointer;
                color: #FFF;
                text-decoration: none;
            }

            &.active {

                a {
                    background-color: #000;
                }
            }
        }
    }
}

.ce {
    position: absolute;
    top: 16px;
    right: 12px;
}