.produtos {
    color: #555;
    background-color: #333;

    .row {

        
        .form-title {
            margin: .5rem 0;
            font-weight: bold;
        }
    }

    .produto {
        padding: 20px 10px 10px;
        border: solid 1px #ccc;
        border-radius: 5px;
        margin: 1rem 0;
        background-color: #FFF;

        .titulo {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: left;
            color: #000;
            border-radius: 5px;
            padding: .5rem 0;
            display: flex;
            min-height: 90px;
            align-items: center;
        }

        .midias {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            justify-content:space-between;
            align-items: start;
            background-color: orangered;
            border-bottom: solid 3px orangered;

            .video {
                width: 50%;
                position: relative;
                border: none;
                padding: 0;
                margin: 0;
            }
    
            .capa {
                width: 50%;
                position: relative;
                border: none;
                padding: 0;
                margin: 0;
            }

            .capa, .video {
                > svg {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    color: orangered;    
                }

                a {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    padding: .5rem 0;
                }
            }
        }

        .downloads {
            margin: 0 0 1rem;
            display: flex;
            justify-content: space-between;

            a {
                display: inline-block;
                background-color: orangered;
                color: #FFF;
                border-radius: 5px;
                padding: .25rem .5rem;
                text-decoration: none;
            }
        }


        .link {
            margin: .5rem 0;
            position: relative;
            padding: 10px;
            background-color: #ededed;
            border-radius: 5px;

            p {
                margin: 0 0 .25rem;
                font-weight: bold;
            }

            span {
                background-color: #000;
                color: #FFF;
                padding: .25rem;
                display: block;
                overflow: hidden;
                text-wrap: nowrap;
                font-size: .75rem;
            }

            svg {
                position: absolute;
                right: 7px;
                top: 7px;
            }
        }

        .texto {
            position: relative;
            padding: 10px;
            background-color: #ededed;
            border-radius: 5px;

            p {
                margin: 0 0 .25rem;
                font-weight: bold;
            }

            span {
                display: block;
                padding: .25rem;
                border: solid 1px #ccc;
                background-color: #000;
                color: #fff;
                font-size: .75rem;
            }

            svg {
                position: absolute;
                right: 7px;
                top: 7px;
            }
        }
    }

    .form-produto {
        padding: 1rem .5rem;
        border: solid 1px #ccc;
        background-color: #ededed;
        border-radius: 10px;
        margin: 1rem 0;

        input, textarea, button, select {
            width: 100%;
        }
    }

    .category {
        padding: 1rem 0;
        margin: 1rem 0 0;
        color: #FFF;

        select {
            padding: .5rem;
        }
    }

    .filters {
        margin: 0 0 1rem;
        border-bottom: solid 1px #ccc;
        padding: 1rem 0;
        background-color: #ededed;

        .filter-title {
            margin-bottom: .5rem;
            display: block;
        }

        .row {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}