.footer {
  background-image: linear-gradient(to right, #555  , #444  );
  background-image: -webkit-linear-gradient(to right, #555  , #444  );
  color: #FFF;
  padding: 1rem 0;
  font-size: 1rem;

  a {
    color: #FFF;
    text-decoration: none;
  }

  @media screen and (max-width: 500px) {
    text-align: center;
  }

  .social {
    list-style: none;
    margin: 0;
    padding: 0;

    svg {
      font-size: 1.5rem;
    }

    li {
      margin-bottom: .5rem;
      text-align: center;
    }
  }
}