.header-restrict {

  .navbar-brand {
    position: relative;

    img {
      height: 120px;
    }
  }

  .navbar-nav {
    padding: 0 0 .5rem;

    .nav-item {
      margin-right: 1rem;
      padding: .5rem 0;

      a {
        display: block;
        color: #ED1E79;
        text-decoration: none;
        padding: .5rem 1rem;
        background-color: #ededed;
        border-radius: 5px;

        &:hover {
          color: rgb(255, 255, 255);
          background-color: #000;
        }
      }
    }

    @media screen and (max-width: '500px') {
      .nav-item {
        width: 100%; 
        margin-right: 0;
        
        a {
          width: 100%;
          display: block;
          text-align: center;
        }
      }
    }
  }
}