.Register {
    color: #555;
    padding: 1rem;

    .home-register {

        background-color: #ededed;
        border-radius: 10px;
        padding: 1rem;

        .row {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        input {
            width: 100%;
        }

        .error {
            text-align: center;
            color: #791e1e;
        }   
    }

    .password-field {
        position: relative;

        svg {
            position: absolute;
            right: 20px;
            top: 7px;
            cursor: pointer;
        }
    }
}