.Register {
    color: #555;
    padding: 1rem;

    .home-register {

        background-color: #FFF;
        border-radius: 10px;

        .row {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        input {
            width: 100%;
        }

        .error {
            text-align: center;
            color: #791e1e;
            margin: 1rem 0;
        }   

        .call-register {
            font-size: 2rem;
            text-align: center;
            background-color: #ededed;
            border-radius: 10px;
            padding: 1rem;
            margin-bottom: 2rem;

            strong {
                color: orangered;
            }
        }
    }

    .password-field {
        position: relative;

        svg {
            position: absolute;
            right: 20px;
            top: 7px;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 500px) {
        
        .regulamento {
            margin: 2rem 0;
        }
    }

    .otp-form {

        input {
            width: 100%;
            border-radius: 5px;
            padding: .35rem 1rem;
            border: solid 1px #CCC;
        }

        button {
            width: 100%;
        }
    }
}