.header-restrict {
  background-color: #366f4e !important;
  background: repeat-x;

  nav {

    .navbar-toggler {
      border: solid 2px #FFF;
      padding: .25rem .5rem .5rem;

      span {
        color: #FFF;
        background-image: none;
        border-top: solid 2px #FFF;
        border-bottom: solid 2px #FFF;
        height: 20px;

        &:before {
          content: '';
          display: block;
          border-top: solid 2px #FFF;
          margin-top: 7px;
        }
      }

      &:hover {
        box-shadow: 1px 1px 5px rgba(255,255,255,.5);
      }
    }

    .nav-item {
      padding: .5rem 1rem;
    }

    a {
      display: block;
      margin-left: .5rem;
      text-decoration: none;
      color: #FFF;

      &:hover {
        color: #EB710E;
      }

      &::before {
        content: '|';
        display: inline-block;
        margin-right: .5rem;
        cursor: initial;
        color: #555;
      }

      &:first-child {
       &::before {
          content: none;
        } 
      }
    }
  }
}

.header {
  background-color: #f8f9fa;
  padding: 20px 0;

  .header-content {
    text-align: left;

    h1 {
      margin: 0;
    }
  }
}

.footer {
  background-color: #2A6D41;
  color: #FFF;
  padding: 1rem 0;

  a {
    text-decoration: none;
    color: #FFF;

      &:hover {
        color: #EB710E;
      }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}