.header {

  .header-content {
    text-align: left;
  }

  .signin {
    text-align: right;
  }

  @media screen and (max-width: 500px) {

    .header-content{
      text-align: center;
    }

    .signin {
      text-align: center;
      margin-top: 2rem;
    }  
  }
}