.header-restrict {
  background-color: #999 !important;
}

.header {
  background-color: #f8f9fa;
  padding: 20px 0;

  .header-content {
    text-align: left;

    h1 {
      margin: 0;
    }
  }
}

.footer {
  background-color: #999;
  color: #FFF;
  padding: 1rem 0;
}