$green: #366f4e;
$orange: #EB710E;

* {
    transition: all .2s ease-in-out;
    font-weight: lighter;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #EB710E;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #555;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #555;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ccc;
    --bs-btn-disabled-border-color: #none;
}

.glass-box {
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0,0,0,.3);
    border-top: solid 1px rgba(220,220,220,1);
    border-left: solid 1px rgba(220,220,220,1);
    border-right: solid 1px rgba(220,220,220,1);
    border-bottom: solid 1px rgba(220,220,220,1);
    padding: 0.5rem;

    &:hover {
        box-shadow: 2px 2px 10px rgba(0,0,0,.3);
        border-top: solid 1px rgba(255,255,255,.8);
        border-left: solid 1px rgba(255,255,255,.8);
        border-right: solid 1px rgba(255,255,255,.2);
        border-bottom: solid 1px rgba(255,255,255,.2);
    }

    a {

        &:hover {
            font-weight: bold;
        }
    }
}

h1 {
    margin-top: 2rem;
    font-size: 2rem;
    color: #2A6D41;
    border-bottom: solid 1px #ededed ;
    text-align: left;
    padding-bottom: 1rem;

    svg {
        font-size: 1.5rem;
        color: #EB710E;
        margin-right: 1rem;
    }
}

h2 {
    padding-left: 10px;
    border-left: solid 5px #EB710E;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    background-color: #ededed;
    padding: 1rem;
}

h3 {
    padding-left: 10px;
    border-left: solid 5px #EB710E;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.header {
    background-color: #e0e0e0;
}

@media screen and (max-width: 900px) {

    h1 {
        font-size: 1.5rem;
    }
    
}