.btn-primary {
    background-color: orangered;
    border-color: orangered;

    &:hover {
        background-color: rgb(190, 50, 0);
        border-color: rgb(190, 50, 0);
    }
}

a {
    color: orangered;
}

.glass-box {
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0,0,0,.3);
    border-top: solid 1px rgba(220,220,220,1);
    border-left: solid 1px rgba(220,220,220,1);
    border-right: solid 1px rgba(220,220,220,1);
    border-bottom: solid 1px rgba(220,220,220,1);
    padding: 0.5rem;

    &:hover {
        box-shadow: 2px 2px 10px rgba(0,0,0,.3);
        border-top: solid 1px rgba(255,255,255,.8);
        border-left: solid 1px rgba(255,255,255,.8);
        border-right: solid 1px rgba(255,255,255,.2);
        border-bottom: solid 1px rgba(255,255,255,.2);
    }

    a {

        &:hover {
            font-weight: bold;
        }
    }
}